.zmaj-bar {
    align-items: center;
    background-color: orange;
    display: flex;
    font-size: 14px;
    flex-direction: column;
    height: 40px;
    justify-content: center;
    width: 100%;
}

.zmaj-bar p {
    padding: 4px;
}

.zmaj-num {
    font-weight: bold;
}

.zmaj-cat {
    background-color: slateblue;
    padding: 5px 10px;
    color: white !important;
}